<h2>
    {{#if kicker}}<span class="kicker">{{kicker}}</span>{{/if}}
    {{#if headline}}<span class="headline">{{headline}}</span>{{/if}}
    {{#if subheadline}}<span class="subheadline">{{subheadline}}</span>{{/if}}
</h2>
