.marker-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.marker {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-position: center left;
    &:hover,
    &.active {
        background-position: center right;
    }
}
